input::placeholder {
  font-size: 0.875rem;
  text-align: center;
  color: $gray-300;
}

select {
  font-size: 0.875rem;
  text-align: center;
  color: $gray-300;
}

.form-control::placeholder {
  text-align: left;
}

